header {
    background-color: #183C63;
    color: #FFFFFF;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

main {
    background-color: hsl(49, 100%, 86%);
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
}







img{
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 4px solid #090435;
    height: 300px ;
}